<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2"
        tools:targetApi="33">
        <activity
            android:name=".LLMAccess"
            android:exported="false" />
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity> <!-- SignInActivity -->
        <activity
            android:name=".SignInActivity"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity> <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity> <!-- UpdateInfo Activity -->
        <activity
            android:name=".UpdateInfo"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity>
        <activity
            android:name=".MainPage"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity>
        <activity
            android:name=".DeleteAccount"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity>
        <activity
            android:name=".PastSpotifyWrapped"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity>

        <activity
            android:name=".QuizActivity"
            android:exported="true">

            <!-- No specific intent-filter required unless this activity is directly accessed from outside -->
        </activity>
    </application>

</manifest>